<div class='container-fluid'>
{{extend 'layout.html'}}






 <div class="page-header">
  
    
    <div class=" col-md-12">
    <img src="{{=URL('static','images/INDIA.jpg')}}" width="800" height="200">
    </div>
    <div class=" col-md-3">
  
    </div>
<div class='container-fluid'>
<div class="well">

<html>
<head>
  <title> detenid2</title>
</head>
<body>

<br/>
</body>
</html>

<div>
  <h1>
  <small>CONSULTA</small></h1>
  <form class="form-inline" role="search" method="get" action="consulta4"> <!-- en accion va el nombre de la vista-->
  <div class="form-group">
      <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">apellido</label>
      <input type="text"   class="form-control" id="exampleInputEmail3" placeholder="APELLIDO" name="ape" value="{{=ape}}">
      </div>  
      <label class="sr-only" for="exampleInputEmail3">nombre</label>
      <input type="text"   class="form-control" id="exampleInputEmail3" placeholder="NOMBRE" name="nom" value="{{=nom}}">
      </div>
  
  

  
  {{=atrapa}}
  <button type="submit" class="btn btn-default">BUSCAR</button> 



  

  
</div>
</div>
</div>

