<div class='container-fluid'>
{{extend 'layout.html'}}



<ol class="breadcrumb">
  <li><a href="{{=URL('index')}}">Home</a></li>
 
  <li class="active">CONSULTA</li>
  
</ol>


 <div class="page-header">
  
    
    <div class=" col-md-12">
    <img src="{{=URL('static','images/INDIA.jpg')}}" width="800" height="200">
    </div>
    <div class=" col-md-3">
  
    </div>
<div class='container-fluid'>
<div class="well">
<nav aria-label="...">
  <ul class="pager">
  {{=form}}
  

    
  </ul>
</nav>
</div>
</div>	



    
 



