

{{extend 'layout.html'}}
<ol class="breadcrumb">
<div class="class well"  
  
  <li class="active">HOME</li>
  
</ol>

<div class="page-header">
  <div class=" col-md-4">
    
    <div class=" col-md-3">
    <img src="{{=URL('static','images/INDIA.jpg')}}" width="800" height="200">
    </div>
    <div class=" col-md-3">
  
    </div>
    
    
</div>    
<div class='container-fluid'>

</div>

<div class="row">
  <div class=" col-md-3">
    <a href="{{=URL('consulta1')}}" class="thumbnail">
      <img src="{{=URL('static','images/rueda.jpg')}}" width="295" height="400">
    </a>
    <h6><p class="text-center text-success "></p></h6><font face="Comic Sans MS,arial,verdana"> </font><DIV ALIGN=center><strong>INGRESO DE PERSONAS</strong></DIV></p></h6>
  </div>

  <div class=" col-md-3">
    <a href="{{=URL('consulta')}}" class="thumbnail">
      <img src="{{=URL('static','images/consultita.png')}}" width="153" height="100">
    </a>
    <h6><p class="text-center text-success "></p></h6><font face="Comic Sans MS,arial,verdana"> </font><DIV ALIGN=center><strong>CONSULTA EN CALABOZO</strong></DIV></p></h6>
  </div>
  <div class=" col-md-3">
    <a href="{{=URL('historial')}}" class="thumbnail">
      <img src="{{=URL('static','images/investigador.jpg')}}" width="135" height="100">
    </a>
    <h6><p class="text-center text-success "></p></h6><font face="Comic Sans MS,arial,verdana"> </font><DIV ALIGN=center><strong>HISTRORIAL</strong></DIV></p></h6>
  </div>
  

 </div>
</div>
</div>

 