
{{extend 'layout.html'}}

<ol class="breadcrumb">
  
  
  <ol class="breadcrumb">
  <li><a href="{{=URL('index')}}">Home</a></li>
 
  <li class="active">SIN DNI</li>
  
</ol>
<div class="page-header">
  <div class=" col-md-12">
    <img src="{{=URL('static','images/INDIA.jpg')}}" width="800" height="200">
    </div>
</div>	
<div class="page-header">
  <h1>El DNI NO EXITE 
  ¿DESEA INGRESARLO?
  
</div>	
<div class="row">
  <div class=" col-md-3">
    <a href="{{=URL('deteni2',args=[atrapa])}}" class="thumbnail">
      <img src="{{=URL('static','images/si.png')}}" width="100" height="100">
    </a>
    <h6><p class="text-center text-success "></p></h6>
  </div>

<div class="row">
  <div class=" col-md-3">
    <a href="{{=URL('consulta1')}}" class="thumbnail">
      <img src="{{=URL('static','images/no.png')}}" width="100" height="100">
    </a>
    <h6><p class="text-center text-success "></p></h6>
  </div>
</div>




  
   
